<div class="sidebar-container">

  <div class="logo-section">
    <div class="logo-circle">
      <img
        src="/images/logo.png"
        alt="Gombeth Urban"
        class="logo-image">
    </div>

    <h2>Gombeth Urban</h2>

    <span class="version">
      v2
    </span>
  </div>

  <nav class="menu">

    <a routerLink="/dashboard"
       routerLinkActive="active"
       class="menu-item">
      📊 Dashboard
    </a>

    <a routerLink="/comunidades"
       routerLinkActive="active"
       class="menu-item">
      🏢 Comunidades
    </a>

    <a
      routerLink="/vecinos"
      routerLinkActive="active"
      class="menu-item">
      👥 Vecinos
    </a>

    <a
      routerLink="/conceptos/comunidad/18"
      routerLinkActive="active"
      class="menu-item">
      📋 Conceptos
    </a>

    <a
      routerLink="/remesas/comunidad/18"
      routerLinkActive="active"
      class="menu-item">
      💳 Remesas SEPA
    </a>

    <a
      routerLink="/tesoreria/movimientos"
      routerLinkActive="active"
      class="menu-item">
      💶 Tesorería
    </a>

    <a
      routerLink="/tesoreria/diario"
      routerLinkActive="active"
      class="menu-item">
      📘 Diario Contable
    </a>

    <a
      routerLink="/presupuestos"
      routerLinkActive="active"
      class="menu-item">
      💰 Presupuestos
    </a>

    <a class="menu-item">
      ⚙ Configuración
    </a>

  </nav>

</div>
