<div class="sidebar-container">

  <div class="logo-section">
    <div class="logo-circle">
      <img
        src="/images/logo.png"
        alt="Gombeth Urban"
        class="logo-image">
    </div>

    <h2>Gombeth Urban</h2>

    <span class="version">
      v2
    </span>
  </div>

  <nav class="menu">

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      class="menu-item">
      📊 Dashboard
    </a>

    <a
      routerLink="/comunidades"
      routerLinkActive="active"
      class="menu-item">
      🏢 Comunidades
    </a>

    <a
      routerLink="/vecinos"
      routerLinkActive="active"
      class="menu-item">
      👥 Vecinos
    </a>

    <a
      routerLink="/conceptos"
      routerLinkActive="active"
      class="menu-item">
      📋 Conceptos
    </a>

    <a
      routerLink="/recibos"
      routerLinkActive="active"
      class="menu-item">
      🧾 Recibos
    </a>

    <a
      routerLink="/remesas"
      routerLinkActive="active"
      class="menu-item">
      💳 Remesas SEPA
    </a>

    <a
      routerLink="/incidencias"
      routerLinkActive="active"
      class="menu-item">
      ⚠ Incidencias
    </a>

    <a
      routerLink="/tesoreria/movimientos"
      routerLinkActive="active"
      class="menu-item">
      💶 Tesorería
    </a>

    <a
      routerLink="/tesoreria/diario"
      routerLinkActive="active"
      class="menu-item">
      📘 Diario Contable
    </a>

    <a
      routerLink="/tesoreria/mayor"
      routerLinkActive="active"
      class="menu-item">
      📘 Libro Mayor
    </a>

    <a
      routerLink="/tesoreria/balance"
      routerLinkActive="active"
      class="menu-item">
      📊 Balance Sumas y Saldos
    </a>

    <a
      routerLink="/presupuestos"
      routerLinkActive="active"
      class="menu-item">
      💰 Presupuestos
    </a>

    <a
      routerLink="/configuracion/cuentas-presentador"
      routerLinkActive="active"
      class="menu-item">
      &#9881; Cuentas presentadoras
    </a>

    <hr class="menu-separador">

    <a
      class="menu-item salir"
      (click)="cerrarSesion()">
      🚪 Cerrar sesión
    </a>

  </nav>

</div>
