<div class="comunidades-page">
  <div class="page-header">
    <div>
      <h2>Comunidades</h2>
      <p>Gestión de comunidades de propietarios</p>
    </div>
    <button class="primary-button">
      + Nueva Comunidad
    </button>
  </div>
  <div class="table-card">
    <div class="table-summary">
      Total comunidades: {{ totalElementos }}
      @if (error) {
        <div class="error-card">
          {{ error }}
        </div>
      }
    </div>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>CIF/NIF</th>
        <th>Identificador SEPA</th>
        <th>Población</th>
        <th>Provincia</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
        @for (comunidad of comunidades; track comunidad.id) {
          <tr>
            <td>{{ comunidad.id }}</td>
            <td class="nombre-col">{{ comunidad.nombre }}</td>
            <td>{{ comunidad.nifCif || '-' }}</td>
            <td>{{ comunidad.identificadorAcreedor || '-' }}</td>
            <td>{{ comunidad.poblacion || '-' }}</td>
            <td>{{ comunidad.provincia || '-' }}</td>
            <td class="actions">
              <button class="btn-action btn-primary">Activar</button>
              <button class="btn-icon btn-success" title="Ingresos">🏦</button>
              <button class="btn-icon btn-warning" title="Gastos">🧾</button>
              <button class="btn-icon btn-info" title="Vecinos" (click)="verVecinos(comunidad.id)">👥</button>
              <button class="btn-icon btn-dark" title="Cuaderno C19">📄</button>
              <button class="btn-icon btn-success" title="QR">▣</button>
              <button class="btn-icon btn-danger-outline" title="PDF">PDF</button>
              <button
                class="btn-icon btn-secondary-outline"
                title="Configurar"
                (click)="editarComunidad(comunidad.id)">
                ⚙
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <div class="pagination-bar">

      <button
        class="page-button"
        (click)="cambiarPagina(paginaActual - 1)"
        [disabled]="paginaActual === 1">
        Anterior
      </button>

      @for (pagina of paginas(); track pagina) {
        <button
          class="page-button"
          [class.active]="pagina === paginaActual"
          (click)="cambiarPagina(pagina)">
          {{ pagina }}
        </button>
      }

      <button
        class="page-button"
        (click)="cambiarPagina(paginaActual + 1)"
        [disabled]="paginaActual === totalPaginas">
        Siguiente
      </button>

    </div>
  </div>
</div>
